<div class="animated fadeIn">
    <!--/.col-->
    <div *ngIf="movie" class="row">
      <div class="col-sm-6 col-md-6">
        <div class="card card-accent-primary">
          <div class="card-body">
           <a [routerLink]="['/']"> <img width="100%" height="100%" src="{{ movie.ava_url }}" class="align-center" ></a>
          </div>
          <div class="card-footer">
            <label style="color:red; font-style: italic;">Tên phim : {{ movie.name }}</label><br>
            <label>Thể loại : {{ movie.genre }}</label><br>
            <label>Thời lượng : {{ movie.length }}</label><br>
            <label>Ngôn ngữ : {{ movie.language }}</label><br>
            <label>Ngày phát hành : {{ movie.released_date.split('T')[0] }}</label><br>
            <button type="button" class="btn btn-primary">Đặt vé</button>
            <button type="button" class="btn btn-primary" [routerLink]="['/movie']">Back</button>
          </div>
        </div>
      </div>
    </div>
</div>