<button type="button" class="btn btn-primary" (click)="openModal(template)">Đặt vé</button>
<ng-template #template>
  <div class="modal-danger" style="width: 600px; height:500px">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Booking</h4>
        <button type="button" class="close" (click)="modalRef.hide(clearSelected())" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <main class="innerContainer">
            <div class="movie">
              <h3 class="movieTitle">{{movieTitle}}</h3>
              <div class="movieDetails">{{screen}} - {{time}}</div>
            </div>

            <div class="legend">
              <label class="freeSeat"></label> FREE
              <label class="reservedSeat padding-left"></label> TAKEN
              <label class="selectedSeat padding-left"></label> SELECTED
            </div>

            <h1 class="font14 marginTop5">SCREEN THIS WAY</h1>
            <div class="screen"></div>

            <div *ngFor="let row of rows">
              <button class="btn" *ngFor="let col of cols" (click)="seatClicked(row + col)"
                [ngSwitch]="getStatus(row + col)" style="width: 40px; height: 30px; margin-left: 5px; " [ngClass]="{'selectedSeat': getStatus(row + col) === 'selected' ? true : false,
                'reservedSeat': getStatus(row + col) === 'reserved' ? true : false,
                'freeSeat': (!getStatus(row + col)) ? true : false}"
                [disabled]="getStatus(row + col) === 'reserved' ? true : false">
                <label *ngSwitchCase="'selected'" class="selectedSeat">{{ row + col }}</label>
                <label *ngSwitchCase="'reserved'" class="reservedSeat">{{ row + col }}</label>
                <label *ngSwitchDefault>{{row + col}}</label>
                <!-- <label style="color: black">{{row + col}}</label> -->
              </button>
            </div>
            <div *ngIf="selected.length > 0" class="font14 marginTB10">
              <label style="color: black" class="wordWrap">SEATS RESERVED : {{selected.length}} <label
                  style="color: black" class="count">{{selected}}</label></label>
              <label style="color: black">PRICE : {{ticketPrice}} * {{selected.length}} =
                {{currency}}.{{ticketPrice*selected.length}} </label>
              <label style="color: black">CONVENIENCE FEE : {{currency}}.{{convFee}}</label>
              <label style="color: black">TOTAL : {{currency}}.{{ticketPrice * selected.length + convFee}}</label>
            </div>

            <div class="buttonBar marginTop5">
              <button (click)="clearSelected()" [disabled]="selected.length === 0"
                class="btn btn-default btn-sm">Clear</button>
              <button (click)="showSelected()" [disabled]="selected.length === 0" class="btn btn-success btn-sm">Buy
                Tickets</button>
            </div>
          </main>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modalRef.hide(clearSelected())">Close</button>
        <button type="button" class="btn btn-danger">Save</button>
      </div>
    </div><!-- /.modal-content -->
  </div>
</ng-template>