<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-6 col-md-3">
      <div class="card card-accent-primary">
        <div class="card-header">
          Card with accent
        </div>
        <div class="card-body">
          <img
            src="https://www.cgv.vn/media/catalog/product/cache/1/small_image/190x260/052b7e4a4f6d2886829431e534ef7a43/s/m/smffh-localized_aw-vn-poster_6-3up_triangle_1.jpg">
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-md-3">
      <div class="card card-accent-secondary">
        <div class="card-header">
          Card with accent
        </div>
        <div class="card-body">
          <img
            src="https://www.cgv.vn/media/catalog/product/cache/1/small_image/190x260/052b7e4a4f6d2886829431e534ef7a43/s/m/smffh-localized_aw-vn-poster_6-3up_triangle_1.jpg">
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-md-3">
      <div class="card card-accent-success">
        <div class="card-header">
          Card with accent
        </div>
        <div class="card-body">
          <img
            src="https://www.cgv.vn/media/catalog/product/cache/1/small_image/190x260/052b7e4a4f6d2886829431e534ef7a43/s/m/smffh-localized_aw-vn-poster_6-3up_triangle_1.jpg">
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-md-3">
      <div class="card card-accent-info">
        <div class="card-header">
          Card with accent
        </div>
        <div class="card-body">
          <img
            src="https://www.cgv.vn/media/catalog/product/cache/1/small_image/190x260/052b7e4a4f6d2886829431e534ef7a43/s/m/smffh-localized_aw-vn-poster_6-3up_triangle_1.jpg">
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-md-3">
      <div class="card card-accent-warning">
        <div class="card-header">
          Card with accent
        </div>
        <div class="card-body">
          <img
            src="https://www.cgv.vn/media/catalog/product/cache/1/small_image/190x260/052b7e4a4f6d2886829431e534ef7a43/s/m/smffh-localized_aw-vn-poster_6-3up_triangle_1.jpg">
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-md-3">
      <div class="card card-accent-danger">
        <div class="card-header">
          Card with accent
        </div>
        <div class="card-body">
          <img
            src="https://www.cgv.vn/media/catalog/product/cache/1/small_image/190x260/052b7e4a4f6d2886829431e534ef7a43/s/m/smffh-localized_aw-vn-poster_6-3up_triangle_1.jpg">
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-md-3">
      <div class="card card-accent-danger">
        <div class="card-header">
          Card with accent
        </div>
        <div class="card-body">
          <img
            src="https://www.cgv.vn/media/catalog/product/cache/1/small_image/190x260/052b7e4a4f6d2886829431e534ef7a43/s/m/smffh-localized_aw-vn-poster_6-3up_triangle_1.jpg">
        </div>
      </div>
    </div>
    <!--/.col-->
    <div class="col-sm-6 col-md-3">
      <div class="card card-accent-danger">
        <div class="card-header">
          Card with accent
        </div>
        <div class="card-body">
          <img
            src="https://www.cgv.vn/media/catalog/product/cache/1/small_image/190x260/052b7e4a4f6d2886829431e534ef7a43/s/m/smffh-localized_aw-vn-poster_6-3up_triangle_1.jpg">
        </div>
      </div>
    </div>
    <!--/.col-->
  </div>
  <!--/.row-->
</div>